html, body {
  margin: 0;
  height: 100%;
}
.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.controls{
  background-color: white; 
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
  box-shadow: 1px 1px 5px grey;
}
div.checkboxes{
  display: inline-block;
  font-family: 'Roboto Mono', sans-serif; 
  font-size: 10pt;
}
div.checkboxes > label > input { color: red; background-color: red; }
.button-findme {
  display: inline-block;
  vertical-align: top;
  height: 30px;
  width: 30px; 
  border: none; 
  cursor: pointer;
  border: 0.5px solid rgb(102, 102, 102);
  margin-top: 4px; 
  margin-right: 5px;
}
.button-findme:hover, .button-findme:focus {
    text-decoration: none;
    outline: 1px solid var(--ol-subtle-foreground-color);
    color: var(--ol-foreground-color);
}
div.attributions{
  background-color: white; 
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px; 
  font-size: 8pt; 
}